.newsArticle-container {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  max-width: 30%;
}

.article-card {
  background-color: #edf6f9;
  box-shadow: 2px 5px 10px #343634;
}

img {
  max-width: 100%;
}