.newsArticle-container {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  /* min-height: 300px; */
  max-width: 30%;
  height: fit-content;
}

.article-card {

  background-color: thistle;
}

img {
  max-width: 100%;
}